.posts {
  list-style-type: none;
  height:100%;
}

.posts li {
  background: green;
  width: 100%;
  display: inline-block;
  line-height: 1.75rem;
  height:100%;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
