.posts {
  list-style-type: none;
  height:100%;
}

.posts li {
  display: inline-block;
  width: 100%;
  height: 99.4%;
}

.posts .post_pic {
  width:100%;
  height:100%;
  text-align:center; 
  overflow:auto;
}

.posts .post_pic a {
  display:inline-block;
  margin:20% 0;
}

.posts .super_link {
  width:auto;
  height:auto;
}

.post_info {
  bottom:10px;
  position:absolute;
  width:100%;
  line-height:250%;
}

.post_info .date {
  color: #C4BFBC;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  float:left;
  margin-left:20px;
}

.post_info .post_title {
  float:right;
  margin-right:20px;
  font-family: 'Source Code Pro';
  color: #C4BFBC;
  font-size:1.3rem;
}

.post_info .post_title a {
  text-decoration:none;
  color: #540779;
}

.post_info .post_title a:hover {
  color: #90112F;
}
