.posts {
  list-style-type: none;
  height:100%;
  width:100%;
  background:#242424;
}

.posts li {
  display: block;
  width:100%;
  overflow:hidden;
}

.post {
  background:#242424;
  position:relative;
}

@media(min-width:1025px) {
  .post_img {
    width:1025px;
    height:auto;
  }
}

@media(max-width:1024px) {
  .post_img {
    max-width:480px;
    height:auto;
  }
}

.posts .post {
  width:100%;
  height:100%;
}

.posts .post a {
  display:block;
  height:100%;
  max-width:100%;
}

.post_img {
  margin:auto;
  text-align:center;
}
.post_img a {
  display:block; 
}

.posts .super_link {
  max-width:100%;
  box-shadow: 0.3rem 0.2rem 1rem black, -0.3rem 0.2rem 1rem black;
}

.post_info {
  width:100%;
  height:50px;
  text-align:center;
  background-color:#340067;
  box-shadow: 0rem -0.2rem 1rem black;
}

.post_info .date {
  color: #C4BFBC;
  font-family: Monaco, "Courier New", monospace;
  font-size: 0.8rem;
}

.post_info .post_title {
  font-family: 'Source Code Pro';
  font-size:1.3rem;
}

.post_info .post_title a {
  text-decoration:none;
  color: white;
}

.post_info .post_title a:hover {
  color: #90112F;
}

.scroll {
  width:32px;
  height:32px;
  background-color:transparent;
  cursor:pointer;
  border-radius:50px;
  margin:100% 0;
  -webkit-transition:background-color 1s;
  transition:background-color 0.5s;
}

.scroll_arrows {
  width:64px;
  height:auto;
  position:fixed;
  z-index:10;
  right:0;
  top:10%;
}

.scroll:hover {
  background:white;
}
