/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400);

/* Global Reset */
* {
  margin:0;
  padding:0;
}

html, body { 
  height:100%;
  width:100%;
}

body {
  background-color:#FFF;
  font:1rem Helvetica, Arial, sans-serif;
}

p {
  margin:0.5rem 0;
}

a { 
  color:#3768B9;
}

a:visited {
  color:#90112F;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.content {
  height:100%;
  width:100%;
}

.nav a {
  font-weight: bold;
  text-decoration: none;
}

.nav {
  background: #EEEEEE;
  height: 50px;
}

.title {
  display: inline-block;
  font-size: 1.2rem;
  float: left;
}

.title a {
  font-family: 'Rock Salt';
  color: #540779;
  width: auto;
  margin: 0 20px;
}

.title a:hover {
  color: #90112F;
}

.nav-menu {
  display:inline-block;
  position:absolute;
  right:0;
  padding:1px;
}

.nav-menu-btn {
  width:75px;
  height:50px;
  cursor:pointer;
  float:right;
}

.nav-menu-list {
  font-family:'Alegreya Sans SC';
  list-style-type:none;
  color:white;
  background:#242424;
  text-align:center;
  position:absolute;
  font-size:1.2rem;
  top:42px;
  right:22px;
  z-index:50;
  display:none;
}

.nav-menu-list .nav-sub-menu-1 {
  background:#242424;
  top:0;
  position:absolute;
  width:140px;
  right:135px;
  display:none;
}

.nav-menu-list li {
  display:inline-block;
  padding:2px;
  width:130px;
  height:100%;
  border-bottom:1px solid white;
}

.nav-menu-list li a {
  text-decoration:none;
  color:white;
  padding:10px 0;
  display:inline-block;
  width:100%;
  height:100%;
}

.nav-menu:hover .nav-menu-list {
  display:block;
}

.nav-menu-list li:hover ul{
  display:block;
}

.nav-menu-list li:hover > a {
  color:#C3C3E5;
  cursor:pointer;
}

/**
/*
  footer on ice
/*
/*

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.footer .contact {
  float: left;
  margin: 0 2em;
}

.footer .contact a {
  color: #8085C1;
}

*/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
