@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

h3 {
  font-size:2rem;
  font-family:'Averia Sans Libre', 'cursive';
  text-align:center;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Source Code Pro', monaco;
}

.post_content {
  height:100%;
}

.post {
  padding:0 10%;
}

.post_date {
  color: #aaa;
  text-align:center;
}
