@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700);

h2 {
  font-size:2em;
  font-family:'Averia Sans Libre', 'cursive';
  text-align:center;
}

.post_content {
  height:100%;
}

.post {
  padding:0 10%;
}

.post_date {
  color: #aaa;
  text-align:center;
}
