@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

p {
  line-height:1.3rem;
  margin:0 10%;
}

li {
  margin:0 10%;
  line-height:2rem;
}

h3 {
  font-size:2rem;
  font-family:'Averia Sans Libre', 'cursive';
  text-align:center;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Source Code Pro', monaco;
}

img {
  max-width:100%;
}

.highlight {
  margin:0 10%;
}

.post_content {
  height:100%;
}

.post_date {
  color: #aaa;
  text-align:center;
}
