<div class='nav-menu'>
  <img src='/imgs/navicon.png' class='nav-menu-btn'/>
  <ul class='nav-menu-list'>
    <li>
      <a>Apps</a>
      <ul class='nav-sub-menu-1'>
        <li><a href='http://epihedron.com'>Adventurer</a></li>
      </ul>
    </li>
    <li>
      <a>Past Posts</a>
      <ul class='nav-sub-menu-2'>
        {% for post in site.posts %}
          {% capture year %}{{post.date | date: '%y'}}{% endcapture %}
          {% capture nyear %}{{post.next.date | date: '%y'}}{% endcapture %}
          {% if year != nyear %}
            <li>
              <a>{{post.date | date: '%Y'}}</a>
              {% capture cyear %}{{post.date | date: '%Y'}}{% endcapture %}
              <ul class='nav-sub-menu-2-1'>
                {% for post in site.posts %}
                  {% capture month %}{{post.date | date: '%b'}}{% endcapture %}
                  {% capture nmonth %}{{post.next.date | date: '%b'}}{% endcapture %}
                    {% if month != nmonth %}
                      <li>
                        <a>{{post.date | date: '%b'}}</a>
                          <ul class='nav-sub-menu-2-1-1'>
                            {% for post in site.posts %}
                            {% capture datY %}{{post.date | date: '%Y'}}{% endcapture %}
                            {% capture datm %}{{post.date | date: '%b'}}{% endcapture %}
                              {% if month == datm %}
                                <li>
                                  <a>{{post.title}} {{datm}}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                      </li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li><a href='/about'>About</a></li>
    <li><a href='mailto:trevor@epihedron.com'>Contact</a></li>
  </ul>
</div>
